<div class="card">
    <a href="#" target="_blank">
        <div class="card-image">
          <figure class="image" (mouseover)="changeImage()" (mouseleave)="resetImage()">
            <img [src]="src" alt="Product image">
          </figure>
        </div>
        <div class="card-content">
          <h2 class="title is-5">{{ product.name }}</h2>
          <p *ngIf="product.available || !hovered" class="subtitle">{{ product.price | currency: 'Rs. ' }}</p>
          <p *ngIf="!product.available && hovered" class="subtitle has-text-danger has-text-weight-bold">Out of stock!</p>
        </div>
    </a>
</div>