<div [ngClass]="{'navbar-image': isHomePage, 'navbar-contact': isContactPage }" class="is-hidden-touch">
    <nav class="container columns py-6 is-vcentered has-margin-auto">
        <p class="column has-text-centered">
            <a routerLink="/" class="navbar-element has-text-dark">Home</a>
        </p>
        <p class="column has-text-centered">
            <a routerLink="/products" class="navbar-element has-text-dark">Products</a>
        </p>
        <p class="column has-text-centered">
            <a class="logo" routerLink="/">ARENA</a>
        </p>
        <p class="column has-text-centered">
            <a routerLink="/contact" class="navbar-element has-text-dark">Contact</a>
        </p>
    
        <div class="column">
            <div class="cart">
                <a class="button is-rounded is-dark" routerLink="cart">
                    <span class="icon is-small">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                    <span class="has-text-weight-bold">Cart</span>
                    <span class="badge is-bottom-right is-dark has-text-weight-medium">{{ count }}</span>
                </a>
            </div>
        </div>
    
    </nav>
</div>

<div class="is-hidden-desktop has-background-dark">
    <nav class="level is-mobile py-3 mb-0">
        <div class="level-item">
            <div class="cart">
                <a class="button is-circle is-dark" routerLink="cart">
                    <span class="icon is-small">
                        <i class="fa-solid fa-cart-shopping fa-lg"></i>
                    </span>
                </a>
            </div>
        </div>

        <p class="level-item has-text-centered logo"><a class="has-text-light" routerLink="/">ARENA</a></p>

        <div class="level-item">
            <button class="button is-circle is-dark" (click)="showNavbar()">
                <span class="icon is-small">
                    <i class="fa-solid fa-bars fa-xl" *ngIf="!isCollapsed"></i>
                    <i class="fa-solid fa-xmark fa-xl" *ngIf="isCollapsed"></i>
                </span>
            </button>
        </div>
    </nav>

    <ul class="has-text-centered navbar-mobile" [ngClass]="{'is-hidden': !isCollapsed}">
        <li>
            <a routerLink="/" class="navbar-element-mobile has-text-light">Home</a>
        </li>
        <li>
            <a routerLink="/products" class="navbar-element-mobile has-text-light">Products</a>
        </li>
        <li>
            <a routerLink="/contact" class="navbar-element-mobile has-text-light">Contact</a>
        </li>
    </ul>
</div>