<div [ngClass]="{'navbar-image': isHomePage}">
    <nav class="container level py-6">
        <p class="level-item has-text-centered">
            <a routerLink="/" class="navbar-element has-text-dark">Home</a>
        </p>
        <p class="level-item has-text-centered">
            <a routerLink="/products" class="navbar-element has-text-dark">Products</a>
        </p>
        <p class="level-item has-text-centered logo">LOGO</p>
        <p class="level-item has-text-centered">
            <a routerLink="/about" class="navbar-element has-text-dark">About</a>
        </p>
        <p class="level-item has-text-centered">
            <a routerLink="/contact" class="navbar-element has-text-dark">Contact</a>
        </p>
    
        <div class="cart">
            <button class="button is-circle">
                <span class="icon is-small">
                    <i class="fa-solid fa-cart-shopping"></i>
                </span>
            </button>
    
            <span class="badge is-bottom-right is-dark">10</span>
    
        </div>
    
    </nav>
</div>