/* Scale from center */
.navbar-element, .navbar-element-mobile {
    display: block;
    position: relative;
    padding: 0.2em 0;
    font-weight: bold;
}
.navbar-element::after {
    opacity: 1 !important;
    transform: scale(0);
    transform-origin: center;

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.navbar-element:hover::after,
.navbar-element:focus::after{
    transform: scale(1);
}

.navbar-mobile {
    padding-bottom: 20px;
}

.navbar-element-mobile {
    padding: 10px;
}

.logo {
    font-size: 38px;
    font-weight: 900;
}

.cart {
    position: relative;
}

.navbar-image {
    background-image: url(/assets/images/home/navbar-1.jpg);
    background-size: contain;
}

.navbar-image .badge, .navbar-contact .badge {
    box-shadow: none;
}

.is-mobile .badge {
    box-shadow: none;
}

.navbar-contact {
    background-color: #fec0ca;
}