@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;800;900&display=swap');

body {
    font-family: 'Raleway', sans-serif !important; 
}

.is-circle {
    border-radius: 50% !important;
}

.is-small-square {
    width: 36px !important;
    text-align: center;
}

.product-image {
    background-color: #F2F2F2;
}

/* Margins */
.has-margin-auto {
    margin: auto !important;
}

@media (min-width: 768px) {
    .pl-7-tablet {
        padding-left: 6rem;
    }
}