.hero-main {
    background-image: url('/assets/images/home/home-1-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.image-container {
    position: relative;
}

.image {
    opacity: 0.7;
}

.image:hover {
    filter: brightness(70%);
}

.image-bottom-left {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 52px;
  font-weight: bold;
}

/* Set min height to 500px upto desktop */
@media(max-width: 1407px) {
    .hero-main {
        min-height: 500px;
    }
}

/* Desktop */
@media(min-width: 1408px) {
    .hero-main {
        background-image: url('/assets/images/home/home-1.jpg');
    }
}